/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

body{
  margin:0;
}
html{
  margin:0;
}
.app{
  font-family: "Trebuchet Ms", "Lucinda Sans Unicode", "Lucinda Grande";
  display:flex;
  justify-content: center;
  text-align: center;
  /*padding-top:100px;*/
}

.levelSelector{
  position:fixed;
  min-width:100%;
  min-height:100%;
  background-image:url(/src/images/cover_wordly.jpg);
  background-size:cover;
  background-position:center;
}

.wordly_box{
  display:flex;
  flex-direction: row;
  justify-content: center;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:300;
}

.worldy_box2{
  color:white;
  width:50%;
  margin-top:5em;
}

.below{
 position:absolute;
 width: 100%;
}

select{
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border:none;
  background-color: darkcyan;
  color: white;
}

/*.questionArea{
  max-width: 1000px;
}*/

.questions{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.questionBox{
  background-color:antiquewhite;
  padding: 10px;
  border-radius: 20px;
  margin:5px;
  width:300px;
}

.questionButtons{
  display: flex;
  flex-direction:row;
  justify-content: center;
}

.questionButton{
  display: flex;
  flex-direction:column;
}

button{
    margin: 20px;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: #6F36E8;
    color: white;
    text-align:center;
}

button:disabled{
  background-color: dark-grey;
  color: darkolivegreen;
  
}

.box{
  display:flex;
  justify-content:center;
  align-items:center;height:80vh;
}

.box img{
  height:200px
}